footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 14% 35px 14%;

    img {
        width: auto;
        height: 35px;
        object-fit: contain;
        margin-bottom: 20px;
    }

    .social-media {
        width: 20%;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;

            a {
                color: $primary-color;
            }
        }
    }
}