$bg: #fff;
$primary-color: #060A24;
$white-color: #FFF;
$dark-yellow-color: #d47612;
$cyan-color: #00F3BB;
$blue-color: #0d3f60;
$primary-dark-gradient: #0d3f60;
$secondary-dark-gradient: #08273c;
$primary-light-gradient: #7098b2;
$secondary-light-gradient: #5b7c90;
$active-link-color: rgba(6,10,36,0.56);